/.idea/
/docker/.env
/docker/database/backup
/docker/database/dump
/docker/database/scripts
/docker/web/log
/docker/web/nginx/config/fragments/auth/.htpasswd
/docker/web/nginx/ssl/certs
/src/
/src/public/build/

!/docker/web/log/.keepme
!/docker/database/scripts/.keepme
